<div id="<%= dom_id template %>">
  <p>
    <strong>Id:</strong>
    <%= template.template_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= template.name %>
  </p>

  <p>
    <strong>Applicants:</strong>
    <%= template.applicants %>
  </p>

  <p>
    <strong>Approval flow:</strong>
    <%= template.approval_flow %>
  </p>

  <p>
    <strong>Field:</strong>
    <%= template.field %>
  </p>

</div>
