<%= form_with(model: service_request) do |form| %>
  <% if service_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(service_request.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
        <% service_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mx-2 p-2">
    <div>
      <%= form.label :request, style: "display: block" %>
      <div class="container border col-2 mx-0 p-1">
        <%= @template.name %>
        <%= hidden_field_tag "service_request[request]", @template.name %>
      </div>
    </div>
  
    <%= hidden_field_tag "service_request[temp_id]", @template.template_id %>

    <div>
      <%= form.label :applicant_name, style: "display: block" %>
      <div class="container border col-2 mx-0 p-1">
        <%= current_user.name %>
        <%= hidden_field_tag "service_request[applicant_name]", current_user.name %>

      </div>
    </div>
  
    <div>
      Unique Id
      <div class="container border col-2 mx-0 p-1">
        <%= current_user.unique_id %>
        <%= hidden_field_tag "service_request[unique_id]", current_user.unique_id %>
      </div>
    </div>
  
    <div>
      Department
      <div class="container border col-2 mx-0 p-1">
        <%= current_user.department %>
        <%= hidden_field_tag "service_request[dept]", current_user.department %>
      </div>
    </div>
  
    <div>
      <%= form.label :approval_flow, style: "display: block" %>
      <%= @template.approval_flow%>
      <%= hidden_field_tag "service_request[approval_flow]", @template.approval_flow %>
    </div>
  
    <%= hidden_field_tag "service_request[current_approver]",  @template.approvers[0].name%>

    <%= hidden_field_tag "service_request[approval_status]", "Yet to be Approved" %>
    
    <%= hidden_field_tag "service_request[current_step]", 1%>

    <div>
      <%=@template.field%><br>
      <%= hidden_field_tag "service_request[field_name]", @template.field %>
      <%= form.text_field :field_response %>
    </div>
  
    <br>
    <div>
      <%= form.submit %>
    </div>
  </div>
    
<% end %>
