<div id="<%= dom_id service_request %>">
  <p>
    <strong>Request:</strong>
    <%= service_request.request %>
  </p>

  <p>
    <strong>Temp:</strong>
    <%= service_request.temp_id %>
  </p>

  <p>
    <strong>Current step:</strong>
    <%= service_request.current_step %>
  </p>

  <p>
    <strong>Applicant name:</strong>
    <%= service_request.applicant_name %>
  </p>

  <p>
    <strong>Unique:</strong>
    <%= service_request.unique_id %>
  </p>

  <p>
    <strong>Dept:</strong>
    <%= service_request.dept %>
  </p>

  <p>
    <strong>Approval status:</strong>
    <%= service_request.approval_status %>
  </p>

  <p>
    <strong>Approval flow:</strong>
    <%= service_request.approval_flow %>
  </p>

  <p>
    <strong>Field name:</strong>
    <%= service_request.field_name %>
  </p>

  <p>
    <strong>Field response:</strong>
    <%= service_request.field_response %>
  </p>

</div>
